# Files to be kept under a git clean -f
.code-workspace.code-workspace
.gitignore
.vscode
.*
*.00*0
*.nc
*.gif
*.mpeg
*.png
*.csv

build
cases/


microhh/build_depac_bu/
microhh/build_ifs/
microhh/build/
microhh/cases/
